<h1>New substraction</h1>

<form action="wizard_subtract">
  <label for="first_field">Subtract this:</label>
  <input type="text" id="first_field" name="first_num"></input>

  <label for="second_field">by this:</label>
  <input type="text" id="second_field" name="second_num"></input>

  <button>Subtract!</button>


</form>
